<h4 class="card-title">{{obtenerPregunta()}}</h4>
<ul class="list-group">
    <li 
        class="list-group-item" 
        *ngFor="let respuesta of listaPreguntas[preguntaService.indexPregunta].respuestas; let i = index" 
        (click)= "seleccionarRespuesta(respuesta, i)"
        [ngClass]="respuestaSeleccionada(respuesta)"
    >
        {{respuesta.nombre}}
        <span class="badge py-0" *ngIf="iconCorrecta(respuesta)">
            <span class="material-icons-outlined text-success">check_circle</span>
        </span>
        <span class="badge py-0" *ngIf="iconIncorrecta(respuesta)">
            <span class="material-icons-outlined text-danger">cancel</span>
        </span>
    </li>
</ul>
<app-botonera></app-botonera>